<html>
    <head>
        {% if title %}
            <title>Территория чая и кофе - {{ title }}</title>
        {% else %}
            <title>Территория чая и кофе</title>
        {% endif %}
    </head>
    <body>

        {% block header %}
        {% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}

    </body>
</html>