{% extends 'bootstrap/base.html' %}

    {% block title %}
        {% if title %}
            Территория чая и кофе - {{ title }}
        {% else %}
            Территория чая и кофе
        {% endif %}
    {% endblock %}
        {% block navbar %}
            {% if current_user.username  %}
                <nav class="navbar navbar-default">
                    <div>
                        Coffe:
                        <a href="{{ url_for('index') }}">Главная</a>
                        <a href="{{ url_for('logout') }}">Выход</a>
            
                    </div>
                </nav>
            {% endif %}
        {% endblock %}

        {% block content %}
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}

                        {% endif %}
                    {% endwith %}
                </div>
            
            {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
            {% block app_content %}{% endblock %}
        {% endblock %}
